<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <script src="/lib/codemirror.js"></script>
    <script src="/lib/mode/javascript.js"></script>
    <link rel="stylesheet" href="/lib/codemirror.css">
    <link rel="stylesheet" href="/lib/idea.css">
    <link href="/stylesheets/main.css" rel="stylesheet" />
    <link href="/stylesheets/lexer.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/87aaf69dbe.js" crossorigin="anonymous"></script>
    <script src="/javascripts/state_diagram.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/javascripts/lexer.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/api.js"></script>
    <title><%= project.name %></title>
</head>
<script>
    window.project = <%- JSON.stringify(project) %>
</script>

<body>
    <div class="pageContainer">
        <div id="nav">
            <div id="header">
                <span>
                    <%= project.name %>
                </span>
            </div>
            <div class="commands">
                <button class="blue" id="save" onclick="saveCode()"> Зберегти </button>
                <button class="blue" id="run" onclick="runCode()"> Виконати </button>
                <a href="/welcome"><button class="blue" id="projects"> Проекти </button></a>
            </div>
        </div>
        <div id="textareaHolder">
            <div>
                <textarea name="studentCode" id="studentCode" rows=100></textarea>
            </div>
            <div>
                <textarea name="result" id="result" rows=100></textarea>
            </div>
        </div>
        <div id="automatonSwitcher">
            <div>
                <input checked="true" type="checkbox" name="viewSelection" id="text">
                <label for="text"> Текст</label>
            </div>
            <div>
                <input checked="true" type="checkbox" name="viewSelection" id="diagram">
                <label for="digram"> Діаграма</label>
            </div>
        </div>
        <div class="container">
            <h1>Графічна діаграма</h1>
            <div id="chartContainer"></div>
        </div>
        <div class="container">
            <h1>Текстове подання</h1>
            <span id="automatonView"></span>
        </div>
        

    </div>
</body>
<script src="https://unpkg.com/gojs/release/go-debug.js"></script>

</html>