<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="./main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v1_2"><span class="v1_4">Dont have an account? Join free today</span>
        <div class="name"></div><span class="v4_9">Login to your account</span><span class="v4_8">Welcome back</span>
        <div class="name"></div>
        <div class="name"></div>
    </div>
</body>

</html>