body {
    width: 100%;
}

#mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#textareaHolder {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#textareaHolder>div {
    width: 50%;
}


#automatonSwitcher {
    border: none;
}

#automatonView {}

.container {
    padding: 0px 25px 15px 25px;
    border: 2px solid black;
    border-radius: 5px;
}

.container:first-child {
    margin-right: 15px;
}

#automaton {
    display: flex;
    flex-direction: row;
}

#automaton>* {
    width: 100%;
}

#studentCode {}

#chartContainer {
    height: 500px;
}

#automatonSwitcher {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#automatonSwitcher>div:first-child {
    margin-right: 10px;
}

#nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: none;
}

.pageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255, 0.75);
    border: 1px solid rgb(212, 212, 212);
    background-size: cover;
    border-radius: 20px;
    padding: 50px;
    margin: 50px 150px 50px 150px;
}

body {
    background: linear-gradient( 41deg, rgba(168, 235, 253, 0.395) 52%, rgba(255, 255, 255, 1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
}

#nav>* {
    margin: 0px 10px 0px 0px;
    cursor: pointer;
}

div.pageContainer > * {
    margin-bottom: 20px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
}

div#header {
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 20px;
}

.cm-s-idea {
    border-radius: 10px;
}

button {
    font-weight: 800;
    padding: 10px;
    background: rgba(255, 255, 255, 0.541);
    border-radius: 5px;
    border: 2px solid black;
    font-weight: 500;
    cursor: pointer;
}   

button.green:hover {
    background-color: rgb(221, 255, 234);
}

button.green {
    border-color: rgb(186, 253, 212);
}

button.red:hover {
    background-color: rgb(252, 218, 218);
}

button.red {
    border-color: rgb(255, 172, 172);
}

button.blue:hover {
    background-color: rgb(208, 230, 255);
}

button.blue {
    border-color: rgb(158, 203, 255);
}